{% extends 'main/base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container pt-3">
<div class="d-grid gap-2 d-md-block">
  <a href="{% url 'drink.new' %}"><button class="btn btn-primary" type="button">New Drink</button></a>
  <button class="btn btn-primary" type="button">Admin</button>
</div>
{% endif %}
</div>
<div class="container">
    <div class="row">
        {% for drink in drinks %}
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-4">
            <div class="card h-100">
              <a href="{% url 'drink.detail' drink.pk %}"><img src="{{drink.image.thumbnail.url}}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="{% url 'drink.detail' drink.pk %}"><h5 class="card-title">{{drink.name}}</h5></a>
                <p class="card-text">{{drink.description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{drink.created_by}} - {{drink.created_at}}</small>
                </a>
                  {% if user == drink.created_by %}
                  <div>
                  <a href="{% url 'drink.edit' drink.pk %}">Editar</a>
                    <a href="{% url 'drink.delete' drink.pk %}">Remover</a>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}