{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <a href="{% url 'pub.new' %}">Cadastrar novo bar</a>
</div>
<div class="container">
    <div class="row">
        {% for pub in pubs %}
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-4">
            <div class="card h-100">
              <img src="{{pub.image.thumbnail.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{pub.name}}</h5>
                <p class="card-text">{{pub.description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{pub.created_by}} - {{pub.created_at}}</small>
                  {% if user == pub.created_by %}
                  <div>
                  <a href="{% url 'pub.edit' pub.pk %}">Editar</a>
                    <a href="{% url 'pub.delete' pub.pk %}">Remover</a>
                  </div>
                      {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}